.events {
  margin: 0;
  padding: 0;
  list-style: none;
}
.events .ant-badge-status {
  width: 40%;
  height: 100%;
  /* overflow: hidden; */
  font-size: 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.notes-month {
  font-size: 22px;
  text-align: center;
}
.notes-month section {
  font-size: 22px;
}
