/* ==> UnderCreateRosterSetup header start */

.UnderCreateRosterSetup .container-UnderCreateRosterSetup {
  /* padding: 0 40px; */
}
.UnderCreateRosterSetup .container-UnderCreateRosterSetup .header-UnderCreateRosterSetup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0 35px 0;
}
.UnderCreateRosterSetup .container-UnderCreateRosterSetup .header-UnderCreateRosterSetup .header-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.UnderCreateRosterSetup .container-UnderCreateRosterSetup .header-UnderCreateRosterSetup .header-left h4 {
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
}
.UnderCreateRosterSetup .container-UnderCreateRosterSetup .header-UnderCreateRosterSetup .header-left .holiday-icon-edit {
  visibility: visible;
  opacity: 1;
  border: transparent;
  box-shadow: none;
  margin-left: 17px;
  background: #f2f2f7;
  cursor: pointer;
  width: 25px;
  height: 25px;
}
.UnderCreateRosterSetup .container-UnderCreateRosterSetup .header-UnderCreateRosterSetup .header-right .save-create-holiday {
  padding: 12px 18px;
  border-radius: 8px;
}

/* ==> create UnderCreateRosterSetup header end */

/* ==> create UnderCreateRosterSetup form start */
.UnderCreateRosterSetup .container-UnderCreateRosterSetup .body-UnderCreateRosterSetup .form-UnderCreateRosterSetup {
  background: #ffffff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05), 0px 2px 10px rgba(0, 0, 0, 0.08), 0px 1px 5px rgba(0, 0, 0, 0.05);
  padding: 27px;
}

 .input-field .form-container {
  margin-bottom: 5px !important;
}
.UnderCreateRosterSetup .container-UnderCreateRosterSetup .body-UnderCreateRosterSetup .form-UnderCreateRosterSetup .depend-on-moon-field {
  /* margin-bottom: 24px; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.UnderCreateRosterSetup .container-UnderCreateRosterSetup .body-UnderCreateRosterSetup .form-UnderCreateRosterSetup .add-btn {
  background: #e4f8dd;
  border: 2px solid #34a853;
  box-sizing: border-box;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  /* height: 56px; */
  margin-top: 1rem;
  color: #34a853;
  width: 100%;
  cursor: pointer;
}

/* ==> create UnderCreateRosterSetup form end */

/* ==> table UnderCreateRosterSetup start  */

/* heading part */

.heading-list-UnderCreateRosterSetup {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin: 49px 0 23px 0;
}
.heading-list-UnderCreateRosterSetup h4 {
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
  font-size: 21px;
  line-height: 16px;
}
.heading-list-UnderCreateRosterSetup small {
  margin: 0 16px;
  font-size: 2.2rem;
  color: rgba(0, 0, 0, 0.4);
  line-height: 2rem;
}
.heading-list-UnderCreateRosterSetup .table-list-item-amount {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 0.4);
}

/* // table-body-UnderCreateRosterSetup */
.table-UnderCreateRosterSetup-main h4{
  font-size: 14px;
}
.table-UnderCreateRosterSetup-main .body-table-UnderCreateRosterSetup table {
  border-spacing: 0 1rem;
}
.table-UnderCreateRosterSetup-main .body-table-UnderCreateRosterSetup table thead th small {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: rgba(0, 0, 0, 0.6);
}

.table-UnderCreateRosterSetup-main .body-table-UnderCreateRosterSetup table thead th {
  border-bottom: none;
  border-top: 2px solid #dee2e6;
  border-bottom: 2px solid #dee2e6;
  /* padding: 0.5rem 0.5rem 0 0.5rem; */
  padding: 0.5rem;
  color: rgba(0, 0, 0, 0.6);
}
.table-UnderCreateRosterSetup-main .body-table-UnderCreateRosterSetup table thead th:hover {
  cursor: pointer;
}
.table-UnderCreateRosterSetup-main .body-table-UnderCreateRosterSetup table thead th:first-child {
  padding-left: 37px;
}
.table-UnderCreateRosterSetup-main .body-table-UnderCreateRosterSetup table thead th:nth-child(2) {
  width: 30%;
}
.table-UnderCreateRosterSetup-main .body-table-UnderCreateRosterSetup .table-card-styled table tbody tr td {
  height: 73px;
}
.table-UnderCreateRosterSetup-main .body-table-UnderCreateRosterSetup .table-card-styled table tbody tr td:nth-child(2) {
  text-align: center;
  width: 30%;
}
.table-UnderCreateRosterSetup-main .body-table-UnderCreateRosterSetup .table-card-styled table tbody tr td,
small {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.6);
}
.table-UnderCreateRosterSetup-main .body-table-UnderCreateRosterSetup .table-card-styled table tbody tr td:first-child {
  padding-left: 37px;
  width: 40%;
}
.table-UnderCreateRosterSetup-main .body-table-UnderCreateRosterSetup .table-card-styled table tbody tr td:nth-child(2) {
  padding-left: 37px;
  width: 20%;
}
.table-UnderCreateRosterSetup-main .body-table-UnderCreateRosterSetup table tbody tr td:last-child {
  width: 40% !important;
}
.table-UnderCreateRosterSetup-main .body-table-UnderCreateRosterSetup table tbody tr .icons-table-list {
  justify-content: space-between;
}
.table-UnderCreateRosterSetup-main .body-table-UnderCreateRosterSetup table tbody tr .icons-table-list .icons-single-list {
  padding-right: 40px;
}
.table-UnderCreateRosterSetup-main .body-table-UnderCreateRosterSetup table tbody tr .icons-table-list .icons-single-list button {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.6);
}

.table-UnderCreateRosterSetup-main .body-table-UnderCreateRosterSetup table tbody tr:hover .icons-table-list .icons-single-list button {
  visibility: visible;
  opacity: 1;
}

/* ==> table UnderCreateRosterSetup end */
