.approval-wrapper .table-card-body .title {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
  color: var(--gray700);
}
.approval-wrapper .table-card-body .table-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--gray500);
}
.approval-wrapper .chips {
  border-radius: 50px;
  width: 76px;
  text-align: center;
}
