/* // table grade start  */

.userRoleManager-wrapper .table-card .table-card-body table thead th:first-child {
  padding-left: 43px;
}

.userRoleManager-wrapper .table-card .table-card-body table thead th {
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
.userRoleManager-wrapper .table-card .table-card-body table thead th small {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: rgba(0, 0, 0, 0.6);
}

.userRoleManager-wrapper .table-card .table-card-body table tbody td {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.6);
}

.userRoleManager-wrapper .table-card .table-card-body table tbody td .chips {
  padding: 9px 17px;
  border-radius: 8px;
}

.userRoleManager-wrapper .table-card .table-card-body table tbody td:first-child {
  padding-left: 43px;
  text-align: left;
}

.userRoleManager-wrapper .table-card .table-card-body table tbody td:last-child {
  text-align: center;
}
.userRoleManager-wrapper .table-card .table-card-body table tbody td .hover-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.userRoleManager-wrapper .table-card .table-card-body table tbody tr:hover td .hover-icon .border-icon {
  visibility: visible;
  opacity: 1;
}

/* // table grade end  */

/* create userRoleManagerModal modal start */
.userRoleManagerModal .table-card-body table thead th {
  text-align: center;
}
.userRoleManagerModal .table-card-body table thead th .MuiFormGroup-root .MuiFormControlLabel-root {
  margin: 0;
}
.userRoleManagerModal .table-card-body table thead th small {
  cursor: pointer;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: rgba(0, 0, 0, 0.6);
}

.userRoleManagerModal .table-card-body table tbody td {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.6);
}

.userRoleManagerModal .table-card-body table tbody td .MuiFormGroup-root {
  justify-content: center;
}
.userRoleManagerModal .table-card-body table tbody td .MuiFormGroup-root .MuiFormControlLabel-root {
  margin: 0;
}

/* create userRoleManagerModal modal end */
