/* chat-emoji */
.chat-emoji {
  position: relative;
  top: 1px;
  right: -1px;
  cursor: pointer;
}
.chat_emoji_section {
  width: 200px;
  background: var(--gray100);
  position: absolute;
  left: 0px;
  padding: 6px;
  bottom: 50px;
  border-radius: 8px;
  border-bottom-right-radius: 0px;
  height: 200px;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.chat_emoji_section .emoji {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* my_chat_message */
.chat-container,
.chat_messenger_box {
  background: var(--gray200);
}
.chat_sms_card {
  padding-bottom: 15px;
}
.my_chat_message {
  float: right;
}
.my_receiver_chat_message {
  float: left;
}

.my_chat_message .chat_txt {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 500px;
}
.chat_txt p.chat_message_txt {
  position: relative;
  color: var(--gray700);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 5px 12px;
  border-radius: 10px;
  box-shadow: var(--shadowTwo);
  transition: all 0.5s;
}
.chat_txt p.chat_message_txt span.txt {
  display: block;
  text-align: justify;
}
.chat_txt p.chat_message_txt span.time {
  display: block;
  text-align: right;
  font-size: 10px;
  line-height: 16px;
}
.chat_txt p.chat_message_txt span.receiver_react {
  position: absolute;
  bottom: -12px;
  right: 8px;
  background: var(--white);
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.my_chat_message p.time {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.my_receiver_chat_message .chat_txt {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 500px;
  transition: all 0.5s;
}
.chat_message_icon {
  position: relative;
  cursor: pointer;
  display: none;
  transition: all 0.5s;
}
.chat_react_emoji_section {
  position: absolute;
  width: 215px;
  background: var(--white);
  border-radius: 24px;
  padding: 5px;
  top: -11px;
  opacity: 0;
  visibility: hidden;
}
.my_chat_message .chat_react_emoji_section {
  left: auto;
  right: 5px;
}
.my_receiver_chat_message .chat_react_emoji_section {
  left: 5px;
  right: auto;
}
.chat_txt:hover .chat_message_icon {
  display: block;
}
.chat_message_icon:hover .chat_react_emoji_section {
  opacity: 1;
  visibility: visible;
}
.chatting-input-field-div {
  margin: 0px 15px;
  border-radius: 0;
}
.chatting-input-field-div .chatting-input-field-cls {
  height: 45px;
  border: none;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.chatting-input-field-div .message-send-icon-cls {
  border: none;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.message-send-icon-cls
  .css-1pe4mpk-MuiButtonBase-root-MuiIconButton-root:hover {
  background: none !important;
}
.chatting_element_cls:hover {
  background: var(--gray100) !important;
}
.chat_send_button {
  padding: 0 18px;
}
.chat_send_button button,
.chat_send_button button:hover .chat_send_button button:focus {
  border: 0px solid var(--gray300);
}
.chat_empty_container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
p.chat_user_name {
  color: var(--gray500);
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
p.chat_user_name span {
  color: var(--gray500);
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}
.has-search .form-control {
  padding-left: 2.375rem;
}
.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.5rem;
  text-align: center;
  pointer-events: none;
  color: var(--gray400);
  font-weight: 400;
}
.form-group.has-search {
  position: relative;
  z-index: 0;
}

/* chat_messenger_top */
.chat_messenger_top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 12px 8px;
}
.chat_messenger_image_name {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.chat_messenger_img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.chat_messenger_img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.chat_messenger_name {
  display: flex;
  align-items: center;
  justify-content: center;
}
.chat_messenger_name > h3 {
  padding-left: 10px;
  font-weight: 600;
}

/* chat_create_group */
.chat_create_group {
  padding: 0 8px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: left;
  cursor: pointer;
  margin-left: 5px;
  border-top: 1px solid var(--gray200);
}
.chat_create_group_icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--gray200);
  display: flex;
  align-items: center;
  justify-content: center;
}
.chat_create_group_text {
  font-size: 14px;
  font-weight: 600;
  color: var(--gray500);
  margin-left: 15px;
}

/* chat_create_group_messenger */
.chat_create_group_messenger {
  position: absolute;
  height: 100%;
  width: 100%;
  background: var(--white);
  bottom: 0px;
  display: flex;
  flex-direction: column;
}
.chatting_group-message {
  border-radius: 12px !important;
}
.chat_create_group_messenger .modal-body {
  padding: 0px 0 0px;
}
