.bg-Slate-Blue {
  background: #6469de;
}
.bg-red {
  background: #ff4842;
}
.bg-yollow {
  background: #f78c12;
}
.bg-Slate-blue {
  background: #009cde;
}
.bg-green {
  background: #34a853;
}
.bg-seagreen {
  background: #26b86e;
}
.bg-Coral {
  background: #ff825c;
}
.dashboard .container-fluid {
  padding: 0 30px;
}
.dashboard-head {
  position: fixed;
  padding: 8px 0;
  background: var(--primary-color);
  width: 100%;
  z-index: 9;
}

.dashboard-head h2 {
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: -0.36px;
  color: #ffffff;
  text-transform: capitalize;
}
.company-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background: #fff;
  box-shadow: 0px 0px 12px #dbdcdd;
  border-radius: 50%;
  position: absolute;
  left: 64px;
  top: 0px;
  overflow: hidden;
}
.company-logo img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: contain;
}
.dashboard-body {
  padding: 37px 0 0;
}

/* .welcome-greetings */
.welcome-greetings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
}
.welcome-greetings-title {
  display: flex;
  align-items: center;
}
.welcome-greetings-title .welcome-greetings-title-txt {
  margin-right: 24px;
}
.welcome-greetings-title-txt h6 {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--black60);
}
.welcome-greetings-title-txt h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: var(--black90);
  padding-top: 8px;
}
.welcome-date-time p {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--black90);
}
.welcome-temp p,
.welcome-temp p span {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--black90) !important;
  margin-right: 4px;
}
.welcome-temp p span.low-temp {
  margin-right: 0px;
}
.welcome-temp p span.temp {
  font-weight: 500;
}

/* dashboard-recruitment-process */
.single-dash-card {
  display: flex !important;
  flex-direction: row;
  padding: 25px 24px 23px;
  margin-bottom: 16px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05), 0px 2px 10px rgba(0, 0, 0, 0.08),
    0px 1px 5px rgba(0, 0, 0, 0.05);
}
.single-dash-card .left-content {
  flex: 0 0 50%;
  display: flex;
  align-items: center;
}
.single-dash-card .left-content > img {
  margin-right: 70px;
}
.single-dash-card .left-content > h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: var(--black80);
}
.single-dash-card .right-content {
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  margin-left: 47px;
  position: relative;
}
.single-dash-card .right-content::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 64px;
  background: rgba(0, 0, 0, 0.12);
  top: 50%;
  left: -47px;
  transform: translateY(-50%);
}
.single-dash-card .right-content .scard-count:first-child {
  margin-right: 55px;
}
.single-dash-card .right-content .scard-count > h6 {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: var(--black40);
}
.single-dash-card .right-content .scard-count > p {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--black70);
  padding-top: 8px;
}
.single-dash-card-title h6.titile {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--black80);
}
.single-dash-card-title .sub-title {
  max-width: 362px;
}
.single-dash-card-title p.sub-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--black50);
  padding-top: 8px;
  margin: 0 0 35px;
}

/* recruitment-ratio */
.single-dash-ratio-card {
  display: block !important;
}
.recruitment-ratio-wrapper {
  display: flex;
}
.recruitment-chart-box {
  margin-right: 40px;
}
.recruitment-ratio-wrapper .r-side .side {
  padding: 10px 0;
  position: relative;
}
.recruitment-ratio-wrapper .side .vertical {
  position: absolute;
  width: 3px;
  height: 55px;
  top: 50%;
  left: -8px;
  transform: translateY(-50%);
}
.recruitment-ratio-wrapper .r-side .side > h6 {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: var(--black50);
  padding-bottom: 5px;
}
.recruitment-ratio-wrapper .r-side .side > h4 {
  font-weight: 700;
  font-size: 21px;
  line-height: 24px;
  color: var(--black70);
}
.interview-dash-box .elements {
  display: flex;
}
.interview-dash-box .element-ratio {
  margin-right: 40px;
}
.interview-dash-box .elements .title {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: var(--black60);
  margin-bottom: 12px;
}
.interview-dash-box .element-ratio .title {
  margin-bottom: 45px;
}
.interview-dash-box .element-ratio .ratio {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.2px;
  color: #000000;
  padding: 23px 0;
  padding-right: 22px;
  position: relative;
}
.interview-dash-box .element-ratio .ratio::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background: #c4c4c4;
  top: 0;
  right: 0;
}
.interview-dash-box .element-ratio .ratio:nth-child(2):after {
  height: 105%;
  top: -1.5px;
}
.interview-dash-box .element-ratio .ratio:last-child::after {
  top: -0.5px;
}
.interview-dash-box .elements .pipeline .cadidate {
  display: flex;
  align-items: center;
  padding: 19px 0;
  position: relative;
}
.interview-dash-box .elements .pipeline .cadidate::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 34px;
  background: #c4c4c4;
  top: 50%;
  left: -40px;
}
.interview-dash-box .elements .pipeline .cadidate .i1 {
  height: 24px;
  width: 24px;
  /* background: #6469de; */
  border-radius: 50%;
  text-align: center;
  color: #fff;
  font-size: 12px;
  line-height: 24px;
  margin-right: 8px;
}
.interview-dash-box .elements .pipeline .cadidate span.i1 {
  color: #fff !important;
}
.interview-dash-box .elements .pipeline .cadidate .i2 {
  font-size: 11px;
  margin-right: 11px;
}
.interview-dash-box .elements .pipeline .cadidate h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: var(--black60);
  margin-right: 19px;
}
.interview-dash-box .elements .pipeline .cadidate h6 {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--black40);
}
.interview-dash-box .pipeline.mt0 {
  margin-top: 0px;
}

/* apex chart */
.apexcharts-datalabel-label {
  font-size: 12px;
}
.apexcharts-toolbar {
  display: none !important;
}

/* dashboard */
.dashboard-scroll {
  height: 94vh;
  overflow: hidden;
  overflow-y: scroll;
}
.dashboard-component .card-body {
  padding: 10px 15px;
}
.management-card-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.greetings .welcome {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: var(--gray700);
}

.greetings .employeeName p {
  font-style: normal;
  font-weight: bold !important;
  font-size: 14px !important;
  line-height: 16px !important;
  /* identical to box height */
  margin-right: 26px;
  color: var(--gray700) !important;
}

.current-situation .date {
  font-style: normal;
  font-weight: normal;
  font-size: 14px !important;
  line-height: 16px !important;
  color: var(--gray900);
}

.current-situation .temperature {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: var(--gray900);
}
.current-situation .position {
  margin-left: 4px;
  margin-right: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: var(--gray900);
}
.header-item {
  border-left: 1px solid var(--gray200);
  text-align: left;
}
.header-item:first-child {
  border: none;
}
.single-header-item {
  padding-left: 32px;
  margin-left: 32px;
}
.top-header-card,
.notice-card,
.manager-card,
.radial-chart-card,
.employee-list-card,
.management-top-header-card,
.birthday-card {
  background: var(--white);
  /* no */
  border: none;
  box-shadow: 0px 0px 2px rgba(145, 158, 171, 0.24),
    0px 16px 32px -4px rgba(145, 158, 171, 0.24);
  border-radius: 4px;
}

.notice-card,
.manager-card,
.radial-chart-card,
.birthday-card {
  height: 380px;
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
.self-card {
  height: 212px;
}
.self-manager-card {
  height: 160px;
}
.self-height-auto {
  height: 380px;
}
.birthday-card::-webkit-scrollbar {
  display: none;
}

.notice-card {
  overflow: hidden;
}
.noticeboard-wrapper {
  overflow: auto;
}
.manager-card {
  justify-content: flex-start;
}
p.subTitle {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: var(--gray500);
}

p.title {
  margin-top: 0px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: var(--gray700);
}

.notice-card .title,
.manager-card .title {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  /* margin-bottom: 40px; */
  color: var(--gray700);
}

.birthday-card .title {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  margin-bottom: 10px;
  color: var(--gray700);
}
.dashboard-body .radial-chart-card .title {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: var(--gray700);
}

.dashboard-body .notice-card .notice-date {
  height: 55px;
  width: 55px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  margin-right: 16px;
  color: var(--white);
}

.radial-chart-table .col-md-6 {
  height: 60px;
}

.radial-chart-table .subTitle {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: var(--gray500);
}

.radial-chart-table .title {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 29px;
  margin-top: 8px;
  color: var(--gray700);
}

.dashboard-body .notice-card .notice-body {
  height: 50px;
  border-bottom: 1px solid var(--gray200);
}

.dashboard-body .notice-card .notice-body .body-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: var(--gray700);
}

.dashboard-body .notice-card .notice-list:last-child .notice-body {
  border-bottom: none;
}

.manager-list-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.manager-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #f2f2f7;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}
.self-manager-img {
  width: 30px;
  height: 30px;
}

.dashboard-body .manager-card .manager-info .manager-name {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: var(--gray900);
}

.dashboard-body .manager-card .manager-info .self-manager-name {
  font-size: 12px;
  line-height: 15px;
}

.dashboard-body .manager-card .manager-info .manager-designation {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2px;
  margin-top: 5px;
  color: var(--gray700);
}

.dashboard-body .manager-card .manager-info .self-manager-designation {
  font-size: 11px;
  line-height: 15px;
}

.dashboard-body .download-policy {
  color: #009cde;
  margin-top: 60px;
  margin-bottom: 40px;
}

.dashboard-body .download-policy .download-label {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  letter-spacing: 0.2px;
  text-decoration-line: underline;
  margin-left: 16px;
}

.designation-dropdown {
  margin-left: 58px;
  background: #f4f6f8;
  border-radius: 8px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: Public Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}
.employee-list-card .card-body .table-empList {
  height: 300px;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.employee-list-card .card-body .table-empList::-webkit-scrollbar {
  display: none;
}
.employee-list-card .card-body .form-container {
  margin: 0;
  margin-bottom: 0.5rem;
}
.employee-list-card .table thead tr {
  background: var(--gray200);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  height: 56px;
  color: var(--gray700);
  text-align: center;
}
.employee-list-card .table thead tr th {
  text-align: left;
}
.employee-list-card .table thead tr th:first-child {
  padding-left: 34px !important;
}
.employee-list-card .table tbody {
  width: 100%;
}
.employee-list-card .table tbody tr {
  /* identical to box height */
  border-bottom: 1px solid var(--gray200);
  text-align: center;
  height: 70px;
}

.employee-list-card .title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;

  color: var(--gray700);
}

.management-top-header-card .card-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  /* padding    : 20px 0 10px 26px; */
  color: var(--gray700);
}
.dash-card-title {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--gray700);
}
.employee-list-card .table tbody tr td:first-child {
  padding-left: 34px !important;
}
.employee-list-card .table tbody tr td {
  height: 100%;
  vertical-align: middle !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 16px !important;
  line-height: 19px !important;
  color: var(--gray900) !important;
  text-align: left;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.birthday-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.birthday-card .companyName {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  color: var(--gray700);
}

.birthday-card .position {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  margin-top: 5px;
  color: var(--gray500);
}

.birthday-card .date {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--gray700);
}
.arrow_box {
  background: var(--white);
  padding: 8px 16px;
  box-shadow: 0px 7px 14px rgba(0, 0, 0, 0.08), 0px 6px 32px rgba(0, 0, 0, 0.16);
  position: relative;
}
.tooltip_text {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: #333333;
  letter-spacing: 0.4px;
}

@media (max-width: 991px) {
  .dashboard-body .top-header-card .header-item .d-flex {
    padding: 20px 20px;
  }

  .dashboard-body .top-header-card .header-item:nth-child(2n) {
    border-right: none;
  }
}

/* toggle style */
.set-as-default {
  display: flex;
  align-items: center;
}
.set-as-default .switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 14px;
  /* border: 2px solid; */
}

.set-as-default .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.set-as-default .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(204, 204, 204, 0.63);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.set-as-default .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0px;
  /* bottom: 0px; */
  top: 50%;
  transform: translateY(-50%);
  background-color: #c7c7c7;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.set-as-default .switch input:checked + .slider {
  background-color: rgba(52, 168, 83, 0.38);
}

.set-as-default .switch input:checked + .slider:before {
  transform: translate(15px, -50%);
  background-color: #34a853;
}

/* Rounded sliders */
.set-as-default .slider.round {
  border-radius: 34px;
}

.set-as-default .slider.round:before {
  border-radius: 50%;
}

/* employeeChartGraph */
.employeeChartGraphParent {
  position: relative;
  overflow: hidden;
}
.employeeChartGraph {
  position: absolute;
  top: 40%;
  left: 39%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
span.employeeChartGraph-title {
  font-size: 26px;
}

/* policy-card */
.policy-card-wrapper {
  height: 380px;
  overflow: auto;
}
.policy-card {
  padding: 10px;
  margin-bottom: 0px;
  border-bottom: 1px solid var(--gray200);
}

/* card-footer */
.card-footer {
  background-color: rgba(255, 255, 255, 1) !important;
}
.card-footer .btn-green,
.card-footer .btn-green:hover,
.card-footer .btn-green:focus,
.card-footer .btn-green-less,
.card-footer .btn-green-less:hover,
.card-footer .btn-green-less:focus {
  width: 110px;
}
/* responsive */
@media (max-width: 1399px) {
  .employeeChartGraph {
    left: 35%;
  }
}
/* employee self dashboard styles from Asif */
/*  */
/*  */
.employee-self-dashboard .employee-self-dashboard-employee-name {
  color: #667085;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.employee-self-dashboard .date-period-container > h4 {
  font-weight: 400;
  font-size: 14px;
  color: #344054;
  margin-bottom: 8px;
}
.employee-self-dashboard .date-period-container > p {
  font-weight: 700;
  font-size: 16px;
  color: #475467;
}

.employee-self-dashboard .date-period-container-left-border {
  margin-left: 12px;
  padding-left: 12px;
  border-left: 1px solid #d0d5dd;
}
/*  */
/*  */
/* header css end */
/* csss for calendar */
.employee-attendance-calendar-wrapper {
  box-shadow: 0px 1px 4px 1px rgba(99, 115, 129, 0.3);
}
.employee-attendance-calendar-wrapper .heading {
  padding: 12px;
}

.employee-attendance-calendar-wrapper .calendar-time-block-wrapper div {
  margin-right: 12px;
  border-left: 4px solid;
  padding: 0 6px;
}

.employee-attendance-calendar-wrapper .calendar .calendar-heading {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 6px;
}
.employee-attendance-calendar-wrapper .calendar .calendar-heading div {
  display: grid;
  place-items: center;
  padding: 4px 4px;
  background-color: #eff1f5;
}
.employee-attendance-calendar-wrapper .calendar .calendar-heading div p {
  font-weight: 600;
  font-size: 12px;
  color: #0e7090;
}
.employee-attendance-calendar-wrapper .calendar .calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 6px;
}

.employee-attendance-calendar-wrapper
  .calendar
  .calendar-body
  .calendar-date-cell {
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.employee-attendance-calendar-wrapper
  .calendar
  .calendar-body
  .calendar-date-cell
  > p {
  padding: 4px 0px;
  font-weight: 600;
  font-size: 14px;
  color: #344054;
}

/*  */
/*  */
.employee-attendance-calendar-wrapper .checkInOutWrapper {
  height: 24rem;
  padding: 6px;
}
.employee-attendance-calendar-wrapper .checkInOutWrapper > div {
  padding: 6px;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 100%;
}
.employee-attendance-calendar-wrapper
  .checkInOutWrapper
  .checkout-info-wrapper {
  padding: 6px;
  border: 1px solid #eaecf0;
  margin-bottom: 6px;
}
/* manager list container */

.employee-self-dashboard-manager-container {
  height: 40%;
  box-shadow: 0px 1px 4px 1px rgba(99, 115, 129, 0.3);
  padding: 0 12px 12px;
}
.employee-self-dashboard-manager-container
  .employee-self-dashboard-manager-picture {
  width: 35px;
  height: 35px;
  margin-right: 6px;
}

.employee-self-dashboard-manager-container
  .employee-self-dashboard-manager-details
  > p:first-child {
  color: #344054;
  font-size: 12px;
  font-weight: 500;
}

/* management dashboard */
/* manager dashboard css start */
.managerDashboard .activities-Summery-grid-Container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 12px;
  padding: 12px;
}

.managerDashboard .activities-Summery-grid-Container > div {
  height: 175px;
  background: #f8f9fc;
  border: 1px solid #d0d5dd;
}

.managerDashboard .activities-Summery-grid-Container .viewBtn {
  padding: 8px 12px;
  border-top: 1px solid #d0d5dd;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #2970ff !important;
}

.managerDashboard .activities-Summery-grid-Container .inner {
  padding: 12px;
  height: 140px;
}

.newDashboardSelect {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newDashboardSelect .input-field-main .form-container {
  margin-bottom: 0;
}

.managerDashboard .activities-Summery-grid-Container .card-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.managerDashboard .activities-Summery-grid-Container .card-head h4 {
  font-weight: 700;
  font-size: 12px;
  color: #697586;
}

.managerDashboard .activities-Summery-grid-Container .card-context {
  margin-top: 10px;
}

.managerDashboard .activities-Summery-grid-Container .card-context div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.managerDashboard .activities-Summery-grid-Container .card-context h4 {
  font-weight: 600;
  font-size: 18px;
  color: #344054;
}

.managerDashboard .activities-Summery-grid-Container .card-context span {
  font-weight: 400;
  font-size: 12px;
  color: #667085;
  margin-left: 10px;
}

.managerDashboard .managerDashboardChart {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 1em 0;
}
.managerDashboard .managerDashboardChart .leaveChart .radial-chart {
  height: 100%;
}

@media screen and (max-width: 1300px) {
  .managerDashboard .managerDashboardChart .leaveChart,
  .managerDashboard .managerDashboardChart .employee-Status-Chart-Container,
  .managerDashboard .managerDashboardChart .monthIou-container {
    height: 370px;
  }
  .managerDashboard .managerDashboardChart .leaveChart .radial-chart {
    height: 90%;
  }
}

.managerDashboard .managerDashboardChart1 {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 1fr 2fr;
  margin: 1em 0;
}

.managerDashboard .managerDashboardChart1 .leaveChart .radial-chart {
  height: 100%;
}

@media screen and (max-width: 1300px) {
  .managerDashboard .managerDashboardChart1 .leaveChart,
  .managerDashboard .managerDashboardChart1 .employee-Status-Chart-Container,
  .managerDashboard .managerDashboardChart1 .monthIou-container {
    height: 370px;
  }
  .managerDashboard .managerDashboardChart1 .leaveChart .radial-chart {
    height: 50%;
  }
}

.managerDashboard .employeeGrid {
  display: grid;
  grid-template-columns: 8fr 4fr;
  grid-gap: 12px;
  margin: 12px 0;
}

.managerDashboard .employeeGrid .emp-container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.managerDashboard .employeeGrid .myEmployeeContainer,
.managerDashboard .employeeGrid .employee-Status-Chart-Container,
.managerDashboard .monthIou-container,
.managerDashboard .emp-birthday-container {
  padding: 12px;
}

.managerDashboard
  .employee-Status-Chart-Container
  .totalEmployeeChartGraphParent {
  position: relative;
  overflow: hidden;
}

.managerDashboard .employee-Status-Chart-Container .totalEmployee-text {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.managerDashboard .totalEmployee-text .totalEmployee-text-title {
  font-size: 20px;
  font-weight: 700;
}

.managerDashboard .myEmployeeContainer .my-emp-table table tbody tr:hover {
  box-shadow: none !important;
}

.managerDashboard .myEmployeeContainer .my-emp-table table th {
  position: sticky;
  top: 0px;
  background: #fff;
  color: #98a2b3 !important;
  font-weight: 400;
  /* z-index: 9; */
}
.managerDashboard .myEmployeeContainer .my-emp-table table .sortable span {
  color: #98a2b3 !important;
}

.myEmployeeContainer .my-emp-table tr td:first-child,
.myEmployeeContainer .my-emp-table tr th:first-child {
  border-left: none !important;
  padding-left: 12px !important;
}
.myEmployeeContainer .my-emp-table tr td:last-child,
.myEmployeeContainer .my-emp-table tr th:last-child {
  border-right: none !important;
}

/* manager dashboard css end */

.newDashboard .customGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 12px;
}

.newDashboard .calenderGrid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 12px;
  margin-top: 12px;
}

.newDashboard .customCardGrid {
  display: grid;
  grid-template-columns: 1.95fr 1fr 1fr;
  grid-gap: 12px;
  margin-top: 12px;
}

.newDashboard .customShadow {
  background: #ffffff;
  box-shadow: 0px 4px 10px #eaeaea;
}

.greatingHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.new-dashboard-calender .calenderContainerGrid {
  display: grid;
  grid-template-columns: 3fr 1.5fr;
}

.new-dashboard-calender .calenderContainerGrid .calender-card-inner {
  padding: 8px;
  height: 435px;
}

.new-dashboard-calender .allDays-name {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  border-top-left-radius: var(--boder-radius);
  border-top-right-radius: var(--boder-radius);
  column-gap: 0.25rem;
}

.new-dashboard-body .form-container {
  margin: 0 !important;
}

.employeeDashboard .shadow-card-container,
.managerDashboard .shadow-card-container {
  background: #ffffff;
  box-shadow: 0px 4px 10px #eaeaea;
  /* box-shadow: 0px 4px 10px #D0D5DD; */
  /* box-shadow: 0px 1.9881px 3.97619px 1.49107px rgba(0, 0, 0, 0.15), 0px 0.497024px 1.49107px rgba(0, 0, 0, 0.3); */
}

.custom-DatePicker_color input[type="month"].form-control {
  color: var(--gray500) !important;
  padding: 5px;
}

.custom-DatePicker_color input[type="month"].form-control:hover {
  padding-top: 5px !important;
}

.dashboard-mini-card {
  padding: 12px;
  margin-top: 5px;
  /* height: 100px; */
}

.dashboard-mini-card .small-card-area {
  padding-right: 24px;
}

.dashboard-mini-card .custom-border-left {
  border-left: 1px solid #d0d5dd;
  padding-left: 24px;
}

.new-dashboard-calender .calenderCardBody {
  border-right: 1px solid #eaecf0;
}

.new-dashboard-month-picker-label {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.finalAttendanceResult div {
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px;
}

.finalAttendanceResult div span:nth-child(1) {
  font-size: 14px;
  font-weight: 700;
}

.custom-card {
  margin: 0;
  border: 1px solid #eaecf0;
}

.card-inner {
  padding: 8px !important;
}

.custom-card-inner {
  padding: 12px !important;
}

.custom-card .custom-heading {
  border-bottom: 1px solid #eaecf0;
  padding: 12px !important;
}

.new-dashboard-body .scrollAbleCard {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 340px;
  scroll-behavior: smooth;
  padding-right: 12px;
}

.scrollAbleList {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 388px;
  scroll-behavior: smooth;
  padding-right: 12px;
}

.noticeCardStyle {
  margin-left: 10px;
  border-bottom: 1px solid #eaecf0;
  padding-bottom: 12px;
  width: 100%;
}

.finalAttendanceResult div span:nth-child(2) {
  font-size: 12px;
}

.finalAttendanceResult div {
  height: 38px;
  padding-left: 8px;
}

.finalAttendanceResult .totalWorking {
  border-left: 4px solid #98a2b3;
}

.finalAttendanceResult .totalPresent {
  border-left: 4px solid #65d380;
}

.finalAttendanceResult .totalLate {
  border-left: 4px solid #fdb022;
}

.finalAttendanceResult .totalMovement {
  border-left: 4px solid #d444f1;
}

.finalAttendanceResult .totalLeave {
  border-left: 4px solid #9b8afb;
}

.finalAttendanceResult .totalAbsent {
  border-left: 4px solid #d92d20;
}

.new-dashboard-calender .attendenceCard {
  height: 90px;
  font-size: 12px;
  padding: 8px 10px;
}

.new-dashboard-calender .attendenceCard .checkInOutDetails {
  margin-top: 20px;
}

.new-dashboard-calender .attendenceCard .checkInOutDetails {
  margin: 15px 0;
}

.new-dashboard-calender .attendenceCard .checkInOutDetails .check-in-text {
  color: #0ba5ec;
}

.new-dashboard-calender .attendenceCard .checkInOutDetails .check-out-text {
  color: #f79009;
}

.new-dashboard-calender .attendenceCard .checkInOutDetails .checkOut {
  margin-left: 20px;
}

.new-dashboard-calender .attendenceCard .totalCurrTime {
  background: #eaecf0;
  padding: 1px 6px;
  border-radius: 12px;
  margin-left: 20px;
}

.new-dashboard-calender .allDays-name .day {
  padding: 2px 0;
  font-size: 12px;
  background: #eff1f5;
  grid-column: span 1 / span 7;
  display: flex;
  justify-content: center;
  color: #0e7090;
  line-height: 21px;
  letter-spacing: 0.2px;
  width: 82px;
}

/* calender day grid */
.new-dashboard-calender .allCalendarDays {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  margin: 0;
  column-gap: 0.25rem;
  row-gap: 0.25rem;
}

.new-dashboard-calender .allCalendarDays .singleCalendarDay .day {
  font-size: 14px;
  /* margin-top: 50px; */
}

.new-dashboard-calender .allCalendarDays .singleCalendarDay .status {
  font-size: 12px;
}

.new-dashboard-calender .allCalendarDays .singleCalendarDay {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 82px;
  height: 58px;
  margin-bottom: 4px;
  background-color: #fcfcfd;
}

/* leave balance table */
.leave-balance .leave-table {
  max-width: 100%;
  max-height: 75vh;
  overflow-x: hidden;
  position: relative;
  z-index: 0;
  padding-left: 1px;
  transition: all 0.3s ease-in-out;
}

.leave-balance .leave-table tbody tr:hover {
  box-shadow: none !important;
}

.leave-balance .leave-table thead th {
  position: sticky;
  top: 0px;
  background: #fff;
  /* z-index: 9; */
}

.leave-balance .leave-table tr td:first-child,
.leave-balance .leave-table tr th:first-child {
  border-left: none !important;
  padding-left: 12px !important;
}

.leave-balance .leave-table table tbody tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
}

/*  */
/*  */
.managerDashboard .gridContainer2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 12px;
}
