/* sidebar */
.sidebar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-less);
}
.sidebar-overlay.overlay-none {
  z-index: 9;
}
.logo-img.sidebar-logo img {
  width: 156px;
}
.sidebar .logo-wrapper {
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.sidebar .logo-inner-wrapper {
  display: flex;
  align-items: center;
  padding: 28px 26px;
  width: 100%;
}

/* menu */
.menu-branch {
  padding: 0px 5px;
}
.menu a,
.menu a:hover {
  text-decoration: none;
  width: 100%;
}
.menu ul li {
  width: 260px;
  transition: all 0.5s linear;
}

.menu ul li a,
.menu ul li a:hover,
.menu ul li .sidebar-dropdown {
  position: relative;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  width: 100%;
  color: var(--gray500);
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  padding: 8px 25px;
  transition: all 0.5s;
}
.menu ul li .sidebar-dropdown {
  cursor: pointer;
}
.menu ul li ul.dropdown-content li a {
  padding: 10px 10px;
}
.menu ul li i,
.menu ul li i:hover {
  padding-right: 25px;
}

.menu ul li i {
  font-size: 18px;
  color: var(-gray500);
  font-weight: 500;
}
.menu ul li a:hover {
  color: var(--gray700);
  background: var(--color-less) !important;
}
.menu ul .firstLevel-li:hover a.active {
  background-color: var(--color-less);
}

/* 1st level dropdown */
.menu ul li > ul.dropdown-content li a.active {
  color: var(--success500) !important;
  background: var(--color-less) !important;
}

.dropdown-content {
  height: 0;
  transition: opacity 1s ease-in-out;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s;
}
.menu .firstLabel-dropdown-show,
.menu .secondLevel-dropdown-show {
  height: auto;
  transition: opacity 1s ease-in-out;
  opacity: 1;
}
.menu .firstLabel-dropdown-show.hide {
  height: 0;
  opacity: 0;
}
ul.dropdown-content li a {
  border: 1px solid var(--gray100);
  box-shadow: 0px 0.497024px 0.994048px rgba(0, 0, 0, 0.3);
  margin-bottom: 8px;
}
ul.dropdown-content li a:before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background: var(--color-less);
  transition: 0.3s linear;
}
ul.dropdown-content li > ul.dropdown-content.dropdown-second-content li a {
  padding: 5px 0 5px 10px !important;
}
ul.dropdown-content li a:hover:before {
  background: var(--color-less);
}

li.back-main-menu {
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: var(-gray500);
  text-transform: uppercase;
  margin-bottom: 20px;
  transition: 0.3s linear;
}
li.back-main-menu span {
  transition: 0.3s linear;
}
li.back-main-menu:hover {
  background: var(--menu-bg);
  color: var(--success500);
}
li.back-main-menu:hover span {
  color: var(--success500) !important;
}
.back-main-inner-menu {
  padding: 19px 22px;
}
.sub-menu-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  padding: 19px 25px;
}

@media (max-width: 767px) {
  .logo i.fa-bars {
    display: block;
  }
}

/* side-menu-wrapper */
.side-menu-wrapper {
  margin: 46px 0 0;
  height: 80vh;
  overflow-y: scroll;
  position: fixed;
  width: 275px;
  top: 80px;
}
.side-menu-wrapper .menu ul .firstLevel-li:hover {
  background: var(--color-less);
}
.side-menu-wrapper .menu .sidebar-second-dropdown {
  padding: 10px 10px !important;
}
.side-menu-wrapper .menu ul li .sidebar-dropdown {
  border: 1px solid var(--gray100);
  box-shadow: 0px 0.497024px 0.994048px rgba(0, 0, 0, 0.3);
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}
.side-menu-wrapper .menu ul li .sidebar-dropdown:before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background: var(--color-less);
  transition: 0.3s linear;
}
.side-menu-wrapper .menu ul li .sidebar-dropdown:hover {
  color: var(--gray700);
}
.menu ul .firstLevel-li:hover .sidebar-dropdown {
  color: var(--gray500);
}
ul.dropdown-content.dropdown-second-content li a {
  border: 0;
  box-shadow: none;
}
ul.dropdown-content.dropdown-second-content li a:hover {
  border: 0;
  box-shadow: none;
}
.menu ul li > ul.dropdown-content li a.active:before {
  background: var(--success500) !important;
}
.secondLevel-dropdown-show {
  position: relative;
  top: -5px;
  left: 20px;
  padding: 13px 0 0;
}
.secondLevel-dropdown-show:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: var(--black10);
}
ul.dropdown-content
  li
  > ul.dropdown-content.dropdown-second-content
  li
  a.active:hover {
  color: var(--success500) !important;
}
