//  Variables
$borderColor: var(--primary-color);
$boxShadow: 0 0 0 2px rgba(87, 233, 121, 0.2);
// Mixin
// Path: src/Components/PForm/styles.scss
@mixin inputLabel {
  color: var(--gray700);
  margin: 0 !important;
  padding: 0 !important;
  label {
    font-size: 12px;
    line-height: normal;
    font-weight: 500;
    margin-bottom: 2px;
  }
}
@mixin inputHover {
  border-color: $borderColor !important;
  outline: 0;
}
@mixin inputFocus {
  @include inputHover;
  -webkit-box-shadow: $boxShadow !important;
  box-shadow: $boxShadow !important;
}

.PeopleDeskInputWrapper,
.PeopleDeskSelectWrapper {
  font-family: var(--interFont);
  margin: 0;
  .ant-form-item-label {
    @include inputLabel;
  }
  .ant-form-item-control {
    .ant-picker,
    .ant-select-selector,
    .ant-input {
      border-radius: 4px !important;
    }
    .ant-input-group {
      .ant-input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    .ant-checkbox {
      &:hover {
        &.ant-checkbox-checked::after,
        .ant-checkbox-inner {
          @include inputHover;
        }
      }
    }

    .ant-input {
      // Placeholder
      &[placeholder] {
        color: var(--gray);
        font-size: inherit;
        line-height: inherit;
      }
      &:hover {
        @include inputHover;
      }
      &:focus {
        @include inputFocus;
      }
    }
    .ant-picker {
      &:hover {
        @include inputHover;
      }
      &.ant-picker-focused {
        @include inputFocus;
      }
    }
    .ant-select {
      .ant-select-selection-placeholder {
        // color: var(--gray);
        font-size: inherit;
        // line-height: inherit;
      }
      &:hover {
        .ant-select-selector {
          @include inputHover;
        }
      }
      &.ant-select-focused {
        .ant-select-selector {
          @include inputFocus;
        }
      }
    }
    .ant-input-affix-wrapper {
      border-radius: 4px;
      &:hover {
        @include inputHover;
      }
      &.ant-input-affix-wrapper-focused {
        @include inputFocus;
        .ant-input {
          border: none !important;
          outline: none !important;
          box-shadow: none !important;
        }
      }
    }

    // Error Message
    .ant-form-item-explain {
      .ant-form-item-explain-error {
        font-size: 11px;
      }
    }
  }

  // horizontal alignment
  &.horizontal {
    .ant-form-item-row {
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: center;
      gap: 6px;
      .ant-form-item-label {
      }
      .ant-form-item-control {
        width: fit-content;
        flex-grow: unset;
      }
    }
  }
}

// Date Picker Z-Index
.ant-picker-dropdown {
  z-index: 99999999 !important;
}
