.application-modal .form-container{
  margin-bottom: 5px;
}
.application-modal label{
  font-size: 12px!important;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 2px;
    margin-top: 0px!important;
   
}