.hover-card {
  transition: transform 0.3s, background 0.3s;
}

.hover-card:hover {
  background: linear-gradient(
    135deg,
    #ff7e5f,
    #feb47b,
    #4facfe,
    #00f2fe
  ); /* Example gradient */
  transform: translateY(-5px); /* Slight elevation */
}

.icon-wrapper {
  transition: transform 0.3s;
}

.hover-card:hover .icon-wrapper {
  transform: scale(1.2); /* Enlarge the icon on hover */
}

.card-title,
.card-count {
  color: #333;
  transition: color 0.3s;
}

.hover-card:hover .card-title,
.hover-card:hover .card-count {
  color: #ffffff; /* Change text color on hover */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columns */
  gap: 16px; /* Space between items */
  width: 100%;
}

.grid-item {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (min-width: 2000px) {
  .grid-item {
    width: 300px; /* Change the width of the grid items */
  }
}
