.overtime-report .employee {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
}

.pdf-container {
  margin-top: 60px;
  text-align: center;
  /* padding: 20px; */
  border-collapse: collapse;
  /* overflow-x: hidden; */
  /* box-sizing: border-box; */
  font-size: 11px !important;
}

.pdf-title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.pdf-table {
  width: 100%;
  border-collapse: collapse;
}

.pdf-table th {
  border: 1px solid #000;
  padding: 4px;
  text-align: center;
}
.pdf-table td {
  border: 1px solid #000;
  padding: 4px;
  text-align: center;
}

.pdf-table th {
  background-color: #f2f2f2;
}

.pdf-container .footer {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}

.pdf-container .totals-row {
  font-weight: bold;
}
.pdf-table th.calendar-name,
.pdf-table td.calendar-name {
  width: 5%; /* Adjust this value as needed */
  padding: 4px; /* Adjust this value as needed */
}

@media print {
  html,
  body {
    height: 90%;
  }
}
