/* ==> create holiday-setup header start */
.input-field .form-container {
  margin-bottom: 5px !important;
}
.create-holiday-setup-main .container-holiday-setup {
  /* padding: 0 40px; */
}
.create-holiday-setup-main .container-holiday-setup .header-holiday-setup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0 50px 0;
}
.create-holiday-setup-main .container-holiday-setup .header-holiday-setup .header-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.create-holiday-setup-main .container-holiday-setup .header-holiday-setup .header-left h4 {
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
}
.create-holiday-setup-main .container-holiday-setup .header-holiday-setup .header-left .holiday-icon-edit {
  visibility: visible;
  opacity: 1;
  border: transparent;
  box-shadow: none;
  margin-left: 17px;
  background: #f2f2f7;
  cursor: pointer;
  width: 25px;
  height: 25px;
}
.create-holiday-setup-main .container-holiday-setup .header-holiday-setup .header-right .save-create-holiday {
  padding: 12px 18px;
  border-radius: 8px;
}

/* ==> create holiday-setup header end */

/* ==> create holiday-setup form start */
.create-holiday-setup-main .container-holiday-setup .body-holiday-setup .form-holiday-setup {
  background: #ffffff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05), 0px 2px 10px rgba(0, 0, 0, 0.08), 0px 1px 5px rgba(0, 0, 0, 0.05);
  padding: 27px;
}

.create-holiday-setup-main .container-holiday-setup .body-holiday-setup .form-holiday-setup .input-field .form-container {
  margin-bottom: 5px;
}
.create-holiday-setup-main .container-holiday-setup .body-holiday-setup .form-holiday-setup .depend-on-moon-field {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* .create-holiday-setup-main .container-holiday-setup .body-holiday-setup .form-holiday-setup .description-field {
  margin-bottom: 24px;
} */
.create-holiday-setup-main .container-holiday-setup .body-holiday-setup .form-holiday-setup .add-btn {
  background: #e4f8dd;
  border: 2px solid #34a853;
  box-sizing: border-box;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  /* height: 56px; */
  color: #34a853;
  width: 100%;
}

/* ==> create holiday-setup form end */

/* ==> table holiday setup start  */

/* heading part */

.heading-holiday-list {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin: 12px 0 12px 0;
}
.heading-holiday-list h4 {
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}
.heading-holiday-list small {
  margin: 0 16px;
  font-size: 2.2rem;
  color: rgba(0, 0, 0, 0.4);
  line-height: 2rem;
}
.heading-holiday-list .table-list-item-amount {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 0.4);
}

/* // table-body-holiday-setup */

.table-holiday-setup-main .body-table-holiday-setup table {
  border-spacing: 0 1rem;
}
.table-holiday-setup-main .body-table-holiday-setup table thead th small {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2px;
}

.table-holiday-setup-main .body-table-holiday-setup table thead th {
  border-bottom: none;
  border-top: 2px solid #dee2e6;
  padding: 0.5rem 0.5rem 0 0.5rem;
  color: rgba(0, 0, 0, 0.6);
}
.table-holiday-setup-main .body-table-holiday-setup table thead th:hover {
  cursor: pointer;
}
.table-holiday-setup-main .body-table-holiday-setup table thead th:first-child {
  padding-left: 37px;
}
.table-holiday-setup-main .body-table-holiday-setup .table-card-styled table tbody tr td {
  height: 73px;
}
.table-holiday-setup-main .body-table-holiday-setup .table-card-styled table tbody tr td:first-child {
  padding-left: 37px;
  width: 50%;
}
.table-holiday-setup-main .body-table-holiday-setup table tbody tr td:last-child {
  width: 30% !important;
}
.table-holiday-setup-main .body-table-holiday-setup table tbody tr .icons-table-list {
  justify-content: space-between;
}
.table-holiday-setup-main .body-table-holiday-setup table tbody tr .icons-table-list .icons-single-list {
  padding-right: 40px;
}
.table-holiday-setup-main .body-table-holiday-setup table tbody tr .icons-table-list .icons-single-list button {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.6);
}

.table-holiday-setup-main .body-table-holiday-setup table tbody tr:hover .icons-table-list .icons-single-list button {
  visibility: visible;
  opacity: 1;
}

/* ==> table holiday setup end */

.create-holiday-setup-main .css-i4bv87-MuiSvgIcon-root{
  width: 16px;
  height: 16px;
}
.create-holiday-setup-main .css-j204z7-MuiFormControlLabel-root .MuiFormControlLabel-label{
  font-size: 12px;
}

.holiday-description .input-xl textarea.form-control{
  padding-top: 9px !important;
}